* {
  margin: 0;
  padding: 0;
}

#root {
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent;
  --color: #850F8D;
}
body {
  font-family: "Raleway", sans-serif;
  background: radial-gradient(
    1700px circle at 4.48% 0%,
    #969f5c 0%,
    #FAFFAF 100%
  );
  color: #000000;
  min-height: 100vh;
}

b {
  font-weight: 900;
  color: var(--color);
}

.loader {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
  font-size: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: space-evenly;
  width: 40%;
  margin: 25px 3% 0;
  padding: 10px;
  border-radius: 5px;
  background-color: var(--color);
  color: #e7e7e7;
  height: 50px;
  cursor: pointer;
  text-decoration: none;
  border-style: none;
}

button:hover {
  color: var(--color);
  background-color: #e7e7e7;
  transition: all ease-in-out 0.3s;
}


/* Homepage Styles */
.HomePage {
  display: flex;
  justify-content: space-evenly;
  min-height: 80vh;
  margin-top: 100px;
  margin-bottom: -50px;
  align-items: center;
}
.HomeText h1 {
  font-weight: 600;
  font-size: 38px;
  letter-spacing: 0.7px;
  padding-top: 10px;
}

.TypeEffect {
  padding: 25px 0px;
  font-weight: 600;
  font-size: 32px;
  letter-spacing: 0.6px;
}
.WebDev {
  height: 350px;
  width: 400px;
  mix-blend-mode: screen;
}

@media (max-width: 900px) {
  .HomePage {
    display: block;
    text-align: center;
    margin-top: 150px;
    padding: 25px;
  }
  .HomeText {
    text-align: left;
    display: inline-block;
  }
}

@media (max-width: 500px) {
  .HomePage {
    min-height: 70vh;
  }
  .NavbarLinks {
    inset: 0 0 0 30%;
  }
  .HomeText h1 {
    font-weight: 500;
    font-size: 28px;
  }
  .TypeEffect {
    font-weight: 500;
    font-size: 24px;
  }
}

/* About Page Styles */
.AboutPage {
  display: flex;
  justify-content: space-evenly;
  min-height: 80vh;
  margin-top: 100px;
  align-items: center;
  padding: 25px;
}

.AboutText {
  width: 50%;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 1.2px;
}
.AboutTextHeading {
  font-size: 35px;
  font-weight: 600;
  padding-bottom: 40px;
}
.AboutText a {
  color: var(--color);
  text-decoration: underline;
  font-weight: bold;
}

@media (max-width: 900px) {
  .AboutPage {
    display: block;
    text-align: center;
    padding: 30px;
  }
  .AboutText {
    text-align: left;
    display: inline-block;
    width: 95%;
    line-height: 24px;
    letter-spacing: 0.6px;
    margin-bottom: 80px;
  }
  .AboutTextHeading {
    font-size: 26px;
  }

  .WebDev {
    width: 200px;
    margin-bottom: 75px;
  }
}